* {
    margin: 0;
    padding: 0;
    @font-face {
        font-family: Gatha;
        src: url('ZTGatha-SemiBold.otf')format('opentype');
    }
}
body {
    background-image: linear-gradient(to bottom, #314C7A, #132950,#031533);
}

.menu {
    list-style: none;
}

a {
    font-family: Gatha;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

header {
    position: relative;
    border-bottom: solid 3px white;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-size: bold;
}

.logo_empresa {
    width: 50px;
    height: 50px;
}

.navbar {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(3, 102, 168); */
    /* background-image: linear-gradient(to bottom,  #031533,#132950,#314C7A); */
    font-weight: bold;
    gap: 2rem;
}

.menu {
    display: flex;
    padding: 0 2rem;
    align-items: center;

}
.menu_item {
    padding: 0px 2rem;
}

.menu_item > a:hover {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.toggle {
    display: none;
    color: white;
    margin-top: 20px;
    padding: 0px 1rem;
}

/*Dropdown*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(3, 102, 168);
    margin-top: 3px;
}

.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_container {
    display: flex;
    justify-content: flex-end;
}
.img_text {
    display: flex;
    align-items: center;
    width: 25rem;
    color: white;
}
.img_blog > img{
    width: 65vw;
}


.blog_container {
    /* background-color: rgb(3, 102, 168); */
    /* background-image: linear-gradient(to bottom, #314C7A, #132950,#031533); */
    height: auto;
}

.blog_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 350px;

}
.blog_item {
    margin: 25px auto; /*Cards ficaram responsivos*/

}
.card {
    width: 20rem;

}

/*Paginas*/

.container_conteudo > h2 {
    padding: 4rem;
    color: white;
}
.container_conteudo > div {
    font-size: 1.5rem;
    color: white;
    padding: 25px;
    margin: 2rem;
    text-indent: 3rem;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 15px;
}
.container_conteudo > ul > li {
    list-style-type: square;
}


/*Responsivo*/


@media (max-width: 681px) {
    .blog_container {
        grid-template-columns: 100%;
    }
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
    }    
    .navbar .toggle {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
