* {
    margin: 0;
    padding: 0;
    @font-face {
        font-family: Gatha;
        src: url('ZTGatha-SemiBold.otf')format('opentype');
    }
}

body {
    height: 100vh;
    background-color: white;

}

li {
    list-style: none;
}

a {
    font-family: Gatha;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

header {
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-size: bold;
}

.logo_empresa {
    width: 50px;
    height: 50px;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 102, 168);
    font-weight: bold;
    gap: 2rem;
}

.menu {
    display: flex;
    padding: 0 2rem;
    align-items: center;

}
.menu_item {
    padding: 0px 2rem;
}

.menu_item > a:hover {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.toggle {
    display: none;
    color: white;
    margin-top: 20px;
    padding: 0px 1rem;
}

/*Dropdown*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(3, 102, 168);
    margin-top: 3px;
}

.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_blog > img{
    display: block;
    margin: auto;
    max-width: 1024px;
}


.blog_container {
    background-color: rgb(3, 102, 168);

    height: auto;
}
.blog_container {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.blog_item {
    margin: 10px 3rem;
}

/*Responsivo*/


@media (max-width: 768px) {
    .navbar .menu {
        display: none;
    }    
    .navbar .toggle {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
